body{
    background: linear-gradient(-45deg, rgb(11, 86, 148), white,rgb(255, 255, 255),rgba(53, 131, 233, 0.76));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#elements{
    position:absolute;
    font-family:'Copperplate', Courier, monospace;
    color:rgba(230, 188, 0, 0.637);
}
#text1{
    
    margin:-3vw 0 0 3vw; 
    z-index:1;
    font-size:20vw;
}

#text2{
    margin:-5vw 0 0 50vw; 
    font-size:10vw;
    z-index:2;
}

#text3{
    margin:10vw 0 0 2vw; 
    font-size:20vw;
    z-index:3;
}

#text4{
    margin:0vw 0 0 20vw; 
    font-size:30vw;
    z-index:4;
    line-height: 5vw;
}

#text5{
    margin:-60vw 0 0 25vw; 
    font-size:23vw;
    z-index:5;
    line-height: 5vw;
}

#text6{
    margin:-15vw 0 0 0; 
    font-size:8vw;
    z-index:5;
    line-height: 5vw;
}

#text7{
    margin:-30vw 0 0 vw; 
    font-size:40vw;
    z-index:6;
    line-height: 5vw;
    margin-bottom:-15vw;
}


.pictures1{
    display:flex;
    justify-content:center;
    margin-top:10vw;
    justify-content:space-around;
    margin:5vw;
}
.pictures2{
    display:flex;
    justify-content:center;
    margin-top:5vw;
}
img{
    margin:4vw;
    margin-top:2vw;
}

p{
    position:fixed;
    margin:12vw;
    margin-left:10vw;
    margin-right:10vw;
    top:2vw;
    font-size:3vw;
    background-color:rgba(9, 84, 146, 0.479);



    
    color:rgb(230, 187, 0);
    
}

.button{
    font-family:'Copperplate', Courier, monospace;
    position:relative;
    right:-40vw;
    top:3vw;
    text-decoration:none;
    background-color:rgba(9, 84, 146, 0.479);
    font-size:3vw;
    color:rgb(230, 187, 0);
    font-weight:lighter;
}