body{
    background-image: url('cartoonbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width:100%;
    height:600px;
  }

div {
    display: flex;
}

#warningText{
    opacity:0;
    color:white;
    font-size:60px;
    margin-top:300px;
    text-align:center;
    margin-bottom:-200px;
}

button{
    margin-top: 350px;
    padding:30px;
    margin-left: auto;
    margin-right: auto; 
    background-image: url('button.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:70% 70%;
}


h2 {
    text-align: center;
    font-family: helvetica;
    color:white;
    position: relative;
}


.myGreatFunciton{
    color: white;
}

#myContainer {
    width: 2000px;
    height: 800px;
    position: relative;
  }

  #myAnimation {
    opacity:0;
    width: 200px;
    height: 400px;
    position: absolute;
    background-image: url('ren.png');
  }