body{
    background-image:url(images/shelf.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
h1{
  position:absloute;
  margin-bottom: -7vw;
}

.layer {
  background-color: rgba(0, 0, 0, 0.534);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
}

#okCover{
    position:absolute;
    margin-left:5vw;
    margin-top:20vw;
    width:20vw;
    transition: transform .2s;
    box-shadow:30px 30px 40px rgba(0, 0, 0, 0.692);
}
#disneyCover{
    position:absolute;
    margin-left:40vw;
    margin-top:10vw;
    width:20vw;
    transition: transform .2s;
    box-shadow:30px 30px 40px rgba(0, 0, 0, 0.692);
}
#timeCover{
    position:absolute;
    margin-left:70vw;
    margin-top:20vw;
    width:20vw;
    transition: transform .2s;
    box-shadow:30px 30px 40px rgba(0, 0, 0, 0.692);
}

#okCover:hover {
    transform: scale(1.2);  
  }
  #timeCover:hover {
    transform: scale(1.2);  
  }
  #disneyCover:hover {
    transform: scale(1.2);  
  }

  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 20px rgba(255, 255, 255, 0.664), 0 0 30px #494949, 0 0 40px #ffffff, 0 0 50px #000000, 0 0 60px #ffffff, 0 0 70px #ffffff;
    }
    
    to {
      text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 30px #ff4da600, 0 0 40px #ff4da600, 0 0 50px #ff4da600, 0 0 60px #ff4da600, 0 0 70px #ff4da600, 0 0 80px #ff4da600;
    }
  }