

body{
    background-color:rgb(154, 230, 194);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
}

.container{
    margin-top:6vw;
}
.fromIdeas{
    padding:2vw;
    width:80%;
    height:80%;
    left:20%;
    margin:auto;
    margin-top:15vw;
}
.fromWireframe{
    padding:2vw;
    width:80%;
    height:80%;
    margin-left:10%;
    margin-top:5vw;
}

.carousel-item{
    width:80%;
    margin-left:10%;
    margin-top:5vw;
}

h1{
    text-align:center;
    margin-top:2vw;
    background-color:rgb(255, 255, 255);
    padding:5vw;

    
}
#backbuttonIdea{
    margin-left:45%;
    width:unset;
}

.buttons{
   
    position: absolute;
    top: 35%;
    left: 37%;
    right:-30%
  }

  .btn-light{
    margin:3vw;
    width:20%;
    display:block;
    background-color:rgb(255, 255, 255);
    color:gray;
}

