body{
    background: linear-gradient(-45deg, rgba(128, 182, 3, 0.829), white,white,rgba(212, 185, 62, 0.938));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
    
    
}
#elements{
    font-family:'Copperplate', Courier, monospace;
    font-size:2rem;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:25% 25% 25% 25% 25% 5%;
    
}

#img1{
    grid-column:1/3;
    grid-row:1/2;
    margin-left:5vw;
    margin-top:5vw;
}

#img2{
    grid-column:3/4;
    grid-row:2/3;
    margin-top:-3rem;
    width:140%;
}

#img3{
    grid-column:2/3;
    grid-row:3;
}

#img4{
    grid-column:1;
    grid-row:4;
    margin-top:20rem;
    margin-left:3rem;
}
#text1{
    grid-column:3/5;
    grid-row:1;
    background-color:rgba(172, 168, 147, 0.562);
    margin-top:8rem;
    margin-bottom:12rem;
    margin-left:-10rem;
    margin-right:4rem;
    line-height: 3rem;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    padding:2rem;
}

#text2{
    grid-column:1/3;
    grid-row:2;
    background-color:rgba(75, 65, 100, 0.562);
    margin-top:2rem;
    margin-bottom:-10rem;
    margin-left:2rem;
    margin-right:4rem;
    line-height: 3rem;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    padding:2rem;
}

#text3{
    grid-column:1/5;
    grid-row:4;
    background-color:rgba(26, 25, 25, 0.562);
    margin-top:-13rem;
    margin-bottom:20rem;
    margin-left:5rem;
    margin-right:5rem;
    line-height: 3rem;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    padding:2rem
}

#text4{
    grid-column:2/5;
    grid-row:5;
    background-color:rgba(124, 5, 5, 0.562);
    margin-top:-33rem;
    margin-left:8rem;
    margin-right:8rem;
    margin-bottom:40rem;
    line-height: 3rem;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    padding:2rem
}
.button{
    grid-column:2/3;
    grid-row:5;
    font-family:'Copperplate', Courier, monospace;
    position:relative;
    right:-47vw;
    top:25vw;
    text-decoration:none;
    background-color:rgba(62, 116, 18, 0.479);
    font-size:3vw;
    color:rgb(255, 255, 255);
    font-weight:lighter;
    margin-bottom:10rem;
}