body{
    background: linear-gradient(-45deg, rgb(122, 184, 175), white,rgb(255, 255, 255),rgb(149, 209, 199));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    background-color:rgb(252, 212, 218) ;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#elements{
    position:absolute;
    font-family:'Copperplate', Courier, monospace;
}
#text1{
    color:rgba(224, 22, 22, 0.459);
    margin:-3vw 0 0 3vw; 
    z-index:1;
    font-size:20vw;
}

#text2{
    color:rgba(224, 22, 22, 0.459);
    margin:-10vw 0 0 20vw; 
    font-size:10vw;
    z-index:2;
}

#text3{
    color:rgba(224, 22, 22, 0.459);
    margin:5vw 0 0 2vw; 
    font-size:20vw;
    z-index:3;
}

#text4{
    color:rgba(224, 22, 22, 0.459);
    margin:-30vw 0 0 20vw; 
    font-size:30vw;
    z-index:4;
    line-height: 5vw;
}

#text5{
    color:rgba(224, 22, 22, 0.459);
    margin:-20vw 0 0 -1vw; 
    font-size:23vw;
    z-index:5;
    line-height: 5vw;
}

#text6{
    color:rgba(224, 22, 22, 0.459);
    margin:-27vw 0 0 0; 
    font-size:8vw;
    z-index:5;
    line-height: 5vw;
}

#text7{
    color:rgba(224, 22, 22, 0.459);
    margin:-15vw 0 0 vw; 
    font-size:40vw;
    z-index:6;
    line-height: 5vw;
    margin-bottom:-15vw;
}

#image1{
    margin-left:7vw;
    margin-top:3vw;
}

#image2{
    
    z-index:2;
    margin-left:60vw;
}

p{
    position:fixed;
    margin:10vw;
    margin-left:25vw;
    margin-right:25vw;
    top:2vw;
    font-size:3vw;
    background-color:rgba(9, 146, 146, 0.479);



    
    color:rgb(167, 2, 41);
    

}

